<div class="container mt-3">
  <div class="row mb-5">
    <h6 class="text-warning">Restaurants</h6>
    <% @restaurants.each do |restaurant| %>
      <!--Inicio de cards-->
      <div class="col-10">
        <%= render "restaurants/restaurant", restaurant: restaurant %>
      </div>
      <!-- Fin cards-->
    <%end %>
    <!-- Inicio mapa-->
    <div class="col-2">

    <!--Termino mapa-->

  </div>
</div>

<div style="width: 100%; height: 600px;"
data-controller="map"
data-map-markers-value="<%= @markers.to_json %>"
data-map-api-key-value="pk.eyJ1IjoibG9yZW56b2JjMjAyMyIsImEiOiJjbHBqdWp6aTYwMzNzMmpteXp6MDVoYzkyIn0.Cj9LGQ3Fm3jTAHCpHFuc1g"></div>
</div>

