<div class="container mt-3">
  <div class="row mb-5">
    <h6 class="text-warning">Restaurants</h6>
    <% @restaurants.each do |restaurant| %>
      <%= render "restaurants/restaurant", restaurant: restaurant %>
    <%end %>
  </div>
</div>
